html
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    title BitMessage - Messages, Reimagined.
  body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') BitMessage
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li()
            a(href='/') Home
          li
            a(href='flag') Flag
        ul.nav.navbar-nav.pull-right
          li
            a(href='register') Register
          li
            a(href='login') Login

          //- li
          //-   a(href='#contact') Contact
  .container(style='padding-top:50px')
    block content
