extends layout.pug

block content
  h1 Edit Profile
  form(action='/edit' method='post')
    input.form-control(name="username" placeholder="Username" value=user.username style="width:50%; margin-bottom:10px")
    input.form-control(name="password" disabled type="password" placeholder="Password" style="width:50%")
    br
    textarea.form-control(name="bio" placeholder="Bio" style="width:50%")
      | #{ (user.bio ? user.bio : "") }
    br
    input.form-control(name="color" value=(user.color ? user.color : "") placeholder="Favorite Color" style="width:50%")
    br
    input.btn.btn-primary(value="Save" type="submit")
