html
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    title Flag Storage 2.0 - Flags, Reimagined
  body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Flag Storage
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          if user
            li
              a(href='/edit') Edit Profile
          li
            a(href='flag') Flags
          //li
            a(href='debug') Debug
        if !user
          ul.nav.navbar-nav.pull-right
            li
              a(href='register') Register
            li
              a(href='login') Login
        else
          ul.nav.navbar-nav.pull-right
            li
              a(href='#') #{ user.username }
  .container(style='padding-top:50px')
    block content
